:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #111;
  background: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  min-height: 60vh;
}

a {
  color: inherit;
}
